<!-- <article class="card-item"> -->
  <section class="card-content">
      <header class="card-upper-container">
          <div class="card-upper-subcontainer">
            <!-- <span class="card-detalles-highlight">{{puntoDeVenta.id}}</span> -->
              <span class="card-detalles-highlight">{{puntoDeVenta.nombre}}</span>
              <i class={{iconoPuntoDeVenta(puntoDeVenta)}}></i>
          </div>
      </header>
      <div class="card-bottom-container">
          <div class="card-detalles-container">
              <div class="card-detalles-mediumFont">
                  <span class="card-detalles-logo">Dirección</span>
                  <span>{{puntoDeVenta.direccion}}</span>
              </div>
              <div class="card-detalles-mediumFont">
                  <span class="card-detalles-logo">Ubicación geográfica</span>
                  <span>{{puntoDeVenta.ubicacionGeografica}}</span>
              </div>
              <div class="card-detalles-mediumFont">
                  <span class="card-detalles-logo">Distancia</span>
                  <span>{{puntoDeVenta.distancia}}</span>
              </div>
          </div>
      </div>
  </section>
  <div class="card-bottom-container">
      <div class="card-detalles-container">
          <div class="card-detalles-mediumFont">
              <span class="card-detalles-logo">Stock de Sobres</span>
              <span>{{puntoDeVenta.stockDeSobres}} unidades</span>
          </div>
          <div class="card-detalles-mediumFont">
              <span>Pedidos Pendientes</span>
          </div>
      </div>
  </div>
  <div class="card-bottom-container">
      <div class="card-detalles-container-center">
          <div class="card-detalles-mediumFont">
              <span class="card-detalles-mediumFont">{{puntoDeVenta | precioSobre}}</span>
          </div>
      </div>
  </div>
<!-- </article> -->