.main-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    margin-top: 0; 
}

.sub-main-container{
    /* background-color: var(--secondary-colour); */
}

.card-primeraParte{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: .5em;
    border-bottom: black .2em solid;
}

.card-primeraParte-titulo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 1em;
    font-size: 1em;
}

.card-item{
    border: 0;
    width: 90%;
    border-radius: 1em;
    font-size: 1rem;
}

.card-imagen{
    border-radius: 1em;
    padding: 0;
}

.card-detalles-container{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-segundaParte{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: .8em;
}

.card-detalles-item, .card-detalles-item2, .card-detalles-item3 {
    display: flex;
    gap: 0.3em;
}

.card-detalles-item{
    font-size: 1.5em;
}

.card-detalles-item2{
    font-size: 1.2em
}

.card-detalles-item3{
    font-size: 1em;
}

.card-content{
    margin-top: 0;
}

@media (min-width:401px) {
    .card-item{
        width: 45%;
        font-size: 0.7rem;
    }

    .card-content{
        width: 100%;
    }

    .card-primeraParte-titulo{
        display: flex;
        flex-direction: row;
    }

    .card-detalles-container{
        display: flex;
        justify-content: space-between;
        column-gap: 1em;
        padding: 0.1em;
    }

    .sub-main-container{
        flex-direction: row;
        width: 100%;
    }

    .card-imagen{
        min-width: 100%;
        overflow: hidden;
        object-fit: cover;
    }
}

@media (min-width:769px) {
    .main-container {
        display: flex;
        flex-direction: row; 
        /* align-items: flex-start; */
        padding-top: 1rem; 
        padding-bottom: 1rem;
    }

    .card-item{
        width: 25%;
        height: 100%;
        font-size: 0.6rem;
    }

    .card-content{
        width: 100%;
    }

    .card-primeraParte-titulo{
        display: flex;
        flex-direction: row; 
    }

    .card-detalles-container{
        display: flex;
        justify-content: space-between;
        column-gap: 1em;
        padding: 0.1em;
    }

    .card-nombre{
        font-size: 0.8em;
    }

    .card-detalles-highlight{
        font-size: 0.7em;
    }

    .card-detalles-bigger-highlight{
        font-size: 0.75em;
    }

    .sub-main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .card-imagen{
        max-width: 100%;
        overflow: hidden;
        object-fit: cover;
        
    }

    .card-detalles-item{
        font-size: 1.3em;
    }
    
    

    .card-detalles-info{
        font-size: 1em;
    }
    
}




