.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.5em;
    width: 100%; 
    font-size: 1em;
}

.checkbox-item {
    display: flex;
    margin-left: 1em;
    gap: 0.5em; 
    color: var(--primary-colour);
}

@media (min-width:401px) {
    .checkbox-container {
        flex-direction: row;
        width: 30%;
        font-size: .8em;
        justify-content: space-evenly;
        flex-grow: 1;
    }
}

@media (min-width:769px) {
    .checkbox-container {
        align-self: flex-start;
        flex-direction: column;
        width: 100%;
        font-size: 1em;
    }
}