.sub-main-container {
    gap: 1.2em;
}

.card-imagen{
    max-width: 100%; 
    max-height: 20em;
    padding-left: 0.5em; 
    padding-right: 0.5em; 
}

@media (min-width:401px) {

    .card-header-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card-imagen {
        max-width: 50%;
        overflow: hidden;
        object-fit: cover;
    }

}