.sub-main-container {
    gap: 1.2em;
}

@media (min-width:401px) {

    .card-header-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card-imagen {
        max-width: 50%;
        overflow: hidden;
        object-fit: cover;
    }

}