.sub-main-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* width: 100%;  */
    gap: 1.2em;
    /* flex: 1; */
    /* justify-content: flex-start;
    padding: 0;  */
}

.figurita-item {
    border: var(--fourth-colour) solid .3em;
    margin-top: 1.2em;
    min-width: 2em;
    max-width: 30em;
}

.detallesFigurita-header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-top: 1em;
    background-color: var(--secondary-colour);
    text-align: center;
    /* flex: 1; */
    /* width: 100vw;  */
    /* margin-left: auto; 
    margin-right: auto;  */
}

.figurita-nombre {
    font-size: 2rem;
    color: var(--text-colour);
}

.logos-container {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 1em;
}

.foto-figurita img {
    max-width: 100%; 
    /* height: auto; */
    padding-left: 0.5em; 
    padding-right: 0.5em; 
}

.detalles-escritos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 1em;
    padding: 1em;
}

.detalles-item   {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.3em;
}

.detalles-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.1em;
    font-weight: bold;
}

@media (min-width:768px) {
    .sub-main-container{
        flex-direction: row;
    }  
}