* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

:root {
    /* Variables generales, tales como paleta de colores, fuente default, fondo, padding, etc */
    --primary-colour: #F6F1F1;
    --secondary-colour:  #b6c5cc;
    --third-colour: #19A7CE;
    --fourth-colour: #146C94;
    --fifth-colour: #65b6cc;
    --text-colour: #000;
    --fire-colour: #FF0000;
    --button-radius: .3rem;
    --border-radius: 0.5rem;
}

body, .main-container {
    display:flex;
    background-color: var(--primary-colour);
}

.main-container, .sub-main-container {
    background-color: var(--secondary-colour);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    margin-top: 3rem;
}

.sub-main-container {
    flex-direction: column;
    flex-wrap: wrap;
}

.searchbar-container{
    text-align: center;
}


@media (max-width:400px) {
    html {
        font-size: 13px;
    }
}

@media (min-width:401px) and (max-width:768px) {
    html {
        font-size: 15px;
    }
}

