* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

:root {
    /* Variables generales, tales como paleta de colores, fuente default, fondo, padding, etc */
    --primary-colour: #F6F1F1;
    --secondary-colour:  #AFD3E2;
    --third-colour: #19A7CE;
    --fourth-colour: #146C94;
    --text-colour: #000;
    --fire-colour: #FF0000;
    --button-radius: .3rem;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    background-color: var(--primary-colour);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-top: 1em;
    background-color: var(--secondary-colour);
    text-align: center;
}

.sub-main-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.searchbar-container{
    text-align: center;
}


@media (max-width:400px) {

}

@media (min-width:401px) and (max-width:768px) {
    
}

