* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: ; */
}

:root {
	/* Variables generales, tales como paleta de colores, fuente default, fondo, padding, etc */
	--primary-colour: #f6f1f1;
	--secondary-colour: #b6c5cc;
	--third-colour: #66aabd;
	--fourth-colour: #146c94;
	--fifth-colour: #65b6cc;
	--text-colour: #000;
	--fire-colour: #ff0000;
	--grey-colour: #6e6e6e;
	--button-radius: 0.3rem;
	--border-radius: 0.5rem;
	--border-radius-interno: 0.2rem;
}

html {
	font-size: 13px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* background-color: var(--primary-colour); */
}

.main-container,
.sub-main-container {
	background-color: var(--secondary-colour);
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-container {
	margin-top: 2.5rem;
}

.sub-main-container {
	flex-wrap: wrap;
	gap: 1.2em;
}

@media (min-width: 401px) {
	html {
		font-size: 15px;
	}

	.sub-main-container {
		justify-content: flex-start;
		margin-left: 2em;
	}
}
