.login-title {
    font-size: 2.8rem;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}


.main-container{
    background-color: var(--primary-color);
    margin-top: 0;
}

.sub-main-container {
    gap: 1em;
    padding-bottom: 4em;
    background-color: var(--primary-color);
}

.login-item {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1em;
}

.login-icon {
    font-size: 1.2em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius) 0 0 var(--border-radius)
}

.login-info {
    display: flex;
    border-radius: var(--border-radius);
    background-color: var(--fourth-color);
    border: solid 0.1em var(--fourth-color)
}

.login-input{
    border-radius:  0   var(--border-radius) var(--border-radius) 0;
}

@media (min-width:401px){
    .sub-main-container {
        flex: 0;
        padding: 5em;
        background-color: var(--secondary-color);
        border: solid .3em var(--fourth-color);
        border-radius: var(--border-radius);
        margin-left: 0;
    }

    .login-info {
        
        border: none;
    }
}