.login-title {
    font-size: 2.8rem;
    color: var(--text-colour);
    font-family: 'Exo', sans-serif;
}


.main-container{
    background-color: var(--primary-colour);
    margin-top: 0;
}

.sub-main-container {
    flex-direction: column;
    gap: 1em;
    padding-bottom: 4em;
    background-color: var(--primary-colour);
}

.login-item {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1em;
}

.login-icon {
    font-size: 1.2em;
    background-color: var(--fourth-colour);
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-info {
    display: flex;
}

@media (min-width:401px){
    .sub-main-container {
        flex:0;
        padding: 5em;
        background-color: var(--secondary-colour);
        border: solid .3em var(--fourth-colour);
        border-radius: var(--border-radius);
    }
}