.navbar-container {
    background-color: var(--third-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* PX Provisorio */
    padding: 0 1rem;
    font-size: 2.5rem;
}


.navbar-list {
    list-style: none;
    display: none;
}

@media (min-width:768px) {
    .burger {
        display: none;
    }

    .navbar-list {
        display: flex;
        gap: 3rem;
        font-size: 2rem;
    }
}
