.searchbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.8rem;
	background-color: var(--fourth-color);
	height: 4rem;
}

.searchbar {
	display: flex;
	align-items: center;
	background-color: var(--primary-color);
	border-radius: 2em;
	width: 80%;
}

.searchbar input[type="text"] {
	border: none;
	border-radius: 1em;
	padding: 1em;
	width: 100%;
}

.searchbar button[type="submit"] {
	background-color: var(--third-color);
	border: none;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	color: var(--primary-color);
	cursor: pointer;
	padding: 0.8em 1em;
}

.searchbar button[type="submit"] i {
	font-size: 1.5em;
}
