/*tamaño celular */
.toolbox-container {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius:  0  0  var(--border-radius) var(--border-radius);
}

.toolbox-header-container, .toolbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: var(--primary-color);
    font-size: 1.5em;
}

.toolbox-header-container {
    border-bottom: var(--primary-color) .1em solid;
    width: 90%; 
}

.toolbox-content {
    padding: .5em .1em;
}

.toolbox-header-container-title {

    font-size: 1.5em;
    text-align: center;
}

.desde-hasta-container{
    display: flex;
    gap: 0.5em;
    color: var(--primary-color);
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5em
}

.desde-hasta-subcontainer {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    color: var(--primary-color);
}

.desde-hasta-subcontainer input[type="text"] {
    width: 100%; 
    min-height: 2em;
}

.valoracion {
    font-size: 1.5em;
    color: var(--primary-color);
}

/*tamaño tablet */
@media (min-width:401px) {
    .toolbox-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.2em;
        margin:0.2em;
    }

    .valoracion {
        font-size: .8em;
    }

    .desde-hasta-container {
        width: 50%;
        gap: 1em;
        font-size: .8em;
    }

    .desde-hasta-subcontainer {
        align-items: center;
    }
}
/*tamaño desktop */
@media (min-width:769px) {
    .toolbox-container {
        gap: 0.5rem;
        margin-bottom: 0;
        max-width: 20%;
        align-self: flex-start;
        margin-left: 1em;
        border-radius: var(--border-radius);
    }
    
    .toolbox-content {
        flex-direction: column;
    }

    .desde-hasta-container {
        width: 90%;
    }

    .desde-hasta-subcontainer {
        align-items: flex-start;
    }
}