<header>
    <nav class="navbar-container">
        <span class="navbar-title" (click)="inicio()">WorldCApp</span>
        <i class="fa-solid fa-bars burger"></i>

        <ul class="navbar-list">
            <li><a (click)="figuritas()">Figuritas</a></li>
            <li><a (click)='sobres()'>Sobres</a></li>
            <li class="navbar-select-tab" (click)="perfil()"><a>Perfil</a></li>
            <li><a (click)="exit()"><i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
    </nav>

</header>