<body>
	<div class="main-container">
		<div class="toolbox-container">
			<img src="../../assets/alexis.jpg" class="imagen_perfil" />
			<div class="informacion">
				<div>
					<span class="info-datos-personales">Nombre de usuario </span>
					<i class="fa-solid fa-pencil"></i>
				</div>

				<div>
					<span class="info-datos-personales">Edad: </span>
					<span>84</span>
				</div>

				<div>
					<span class="info-datos-personales">Ubicación:</span>
					<span>Argentina</span>
				</div>
			</div>
		</div>

		<section class="sub-main-container">
			<div class="tabs-container navbar-list">
				<ul class="tabs-container navbar-list">
					<li class="tab">Información del Perfil</li>
					<li class="tab-elegido">Figuritas Repetidas</li>
					<li class="tab">Figuritas Faltantes</li>
					<li>
						<i class="fa-solid fa-circle point-icon"></i>
						<i class="fa-regular fa-circle point-icon"></i>
						<i class="fa-regular fa-circle point-icon"></i>
					</li>
				</ul>
			</div>
			<div class="card-grid">
				<app-card class="card-item"></app-card>
				<app-card class="card-item"></app-card>
				<app-card class="card-item"></app-card>

			</div>
			<span class="material-symbols-outlined plus-icon" (click)="agregar.aniadir()">add</span>
		</section>
	</div>
</body>