<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/e0d6dd6321.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="sub-main-container">
            <span class="login-title">WorldCApp</span>
            
            <div class="login-item">
                <label>Usuario</label>
                <div class="login-info">
                    <i class="fa-solid fa-user login-icon"></i>
                    <input type="text" placeholder="Usuario" class="login-input">
                </div>
            </div>

            <div class="login-item">
                <label>Contraseña</label>
                <div class="login-info">
                    <i class="fa-solid fa-key login-icon"></i>
                    <input type="password" placeholder="Contraseña" class="login-input">
                </div>
            </div>
            <div>
                <button class="primary-button">Ingresar</button>
            </div>
        </div>
    </div>

    

</body>
</html>
