<body>
    <div class="main-container">
        <div class="sub-main-container">
            <span class="login-title">WorldCApp</span>
            
            <div class="login-item">
                <label>Usuario</label>
                <div class="login-info">
                    <i class="fa-solid fa-user login-icon"></i>
                    <input type="text" placeholder="Usuario" class="login-input" [(ngModel)]="usuarioLogin.usuario" name="usuario">
                    
                </div>
            </div>

            <div class="login-item">
                <label>Contraseña</label>
                <div class="login-info">
                    <i class="fa-solid fa-key login-icon"></i>
                    <!-- <input type="password" placeholder="Contraseña" class="login-input" [(ngModel)]="password"> -->
                    <input type="password" placeholder="Contraseña" class="login-input" [(ngModel)]="usuarioLogin.contrasenia" name="password">
                    
                </div>
            </div>
            <div>
                <button class="primary-button" (click)="ingresar()" >Ingresar</button>

            </div>
        </div>
    </div>  
</body>
