@import url(../Maquetado/css/cards.css);
@import url(../Maquetado/css/busquedaFiguritas.css);
@import url(../Maquetado/css/perfilUsuario.css);


.card-item {
	background-color: var(--primary-color);
	border: var(--fourth-color) solid 0.3em;
	margin-bottom: 1.2em;
	margin-top: 1em;
	min-width: 2em;
	text-align: center;
	box-shadow: 0.4rem 0.8rem 1.6rem rgb(0 0 0 / 80%);
	border-radius: var(--border-radius);
    width: 90%;
}
@media (min-width: 401px) {
	.card-item {
		width: 45%;
		font-size: 0.7rem;
		/* background-color: red; */
	}
}


@media (min-width: 769px) {

	.card-item {
		width: 30%;
		height: 100%;
		font-size: .65rem;
		/* background-color: green; */
	}

}