<!-- <article class="card-item"> -->
    <section class="card-content">
        <img src="../../assets/enzofe.jpg" alt="Enzo Fernandez" class="card-imagen">
        <div class="card-upper-container">
            <div class="card-upper-subcontainer">
                <span class="card-detalles-largeFont">Enzo Fernandez</span>
                <div class="card-detalles-largeFont">
                    <i class="fa-solid fa-id-badge"></i>
                    <span>5</span>
                </div>
                <div class="card-detalles-largeFont">
                    <i class="fa-solid fa-star"></i>
                    <span>124</span>
                </div>
            </div>

            <div class="card-upper-subcontainer">
                <div class="card-detalles-mediumFont">
                    <div class="card-detalles-logo">
                        <i class="fa-solid fa-weight-scale"></i>
                        <span>Peso</span>
                    </div>
                    <span>72 kilos</span>
                </div>
                <div class="card-detalles-mediumFont">
                    <div class="card-detalles-logo">
                        <i class="fa-solid fa-ruler"></i>
                        <span>Altura</span>
                    </div>
                    <span>1.7 metros</span>
                </div>
            </div>
        </div>
        <div class="card-bottom-container">
            <div class="card-detalles-container">

                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Casaca</span>
                    <span>10</span>
                </div>
                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Nacimiento</span>
                    <span>24/06/1987 (36 años)</span>
                </div>
                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Selección</span>
                    <span>Argentina (<i class="fa-solid fa-trophy"></i> 3)</span>
                </div>
                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Posición</span>
                    <span>Delantero</span>
                </div>

            </div>
            <div class="card-detalles-mediumFont card-detalles-center">
                <span class="card-detalles-logo">Cotización USD 80.000.000</span>
            </div>
            <div class="card-detalles-largeFont card-detalles-center">
                <span class="card-detalles-logo">Cedida por Daniel Gonzalez</span>
            </div>
        </div>
    </section>
<!-- </article> -->
