<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0d6dd6321.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo:ital,wght@1,900&display=swap" rel="stylesheet">
    <title>Búsqueda figuritas para agregar al perfil</title>
</head>
<body>

    <app-searchBar></app-searchBar>
    
    <main class="main-container">
        <aside class="toolbox-container">
            <div class="toolbox-header-container">
                <span class="toolbox-header-container-title">Filtros</span>
            </div>
            <div class="toolbox-content">
                <span class="valoracion">Valoración</span>
                <div class="desde-hasta-container">
                    <div class="desde-hasta-subcontainer">
                        <label for="desde">Desde</label>
                        <input type="number" min="0" id="desde" placeholder="Desde...">
                    </div>
                    <div class="desde-hasta-subcontainer">
                        <label for="hasta">Hasta</label>
                        <input type="number"  min="0" id="hasta" placeholder="Hasta...">
                    </div>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox-item">
                        <input type="checkbox" id="onFireCheckbox" class="checkbox-input">
                        <label for="onFireCheckbox">On fire</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="esPromesaCheckbox" class="checkbox-input">
                        <label for="esPromesaCheckbox">Es promesa</label>
                    </div>
                </div>
            </div>
        </aside>
        <section class="sub-main-container">
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>

        </section>  
    </main>
</body>
</html>
