<body>
    <app-nav></app-nav>
    <app-searchBar></app-searchBar>
    
    <main class="main-container">

        <app-filtro class="toolbox-container"></app-filtro>
        <section class="sub-main-container">
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
            <app-card class="card-item"></app-card>
        </section>  
    </main>
</body>

