.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background-color: var(--third-color);
    height: 2rem;
    font-size: 1.3rem;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}
