.login-title {
    font-size: 2.8rem;
    color: --text-color;
    font-family: 'Exo', sans-serif;
}


.main-container{
    background-color: --primary-color;
    margin-top: 0;
}

.sub-main-container {
    gap: 1em;
    padding-bottom: 4em;
    background-color: --primary-color;
}

.login-item {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1em;
}

.login-icon {
    font-size: 1.2em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: --border-radius 0 0 --border-radius
}

.login-info {
    display: flex;
    border-radius: --border-radius;
    background-color: --fourth-color;
    border: solid 0.1em --fourth-color
}

.login-input{
    border-radius:  0   --border-radius --border-radius 0;
}

@media (min-width:401px){
    .sub-main-container {
        flex: 0;
        padding: 5em;
        background-color: --secondary-color;
        border: solid .3em --fourth-color;
        border-radius: --border-radius;
        margin-left: 0;
    }

    .login-info {
        
        border: none;
    }
}