* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: ; */
}

:root {
	/* Variables generales, tales como paleta de colores, fuente default, fondo, padding, etc */
	--primary-color: #f6f1f1;
	--secondary-color: #b6c5cc;
	--third-color: #66aabd;
	--fourth-color: #146c94;
	--fifth-color: #65b6cc;
	--text-color: #000;
	--fire-color: #ff0000;
	--grey-color: #6e6e6e;
	--button-radius: 0.3rem;
	--border-radius: 0.5rem;
	--border-radius-interno: 0.2rem;
}

html {
	font-size: 13px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-container,
.sub-main-container {
	background-color: var(--secondary-color);
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-container {
	margin-top: 2.5rem;
}

.sub-main-container {
	flex-wrap: wrap;
	gap: 1.2em;
}

@media (min-width: 401px) {
	html {
		font-size: 15px;
	}

	.sub-main-container {
		justify-content: flex-start;
		margin-left: 2em;
	}
}

.login-title {
    font-size: 2.8rem;
    color: var(--text-color);
    font-family: 'Exo', sans-serif;
}


.main-container{
    background-color: var(--primary-color);
    margin-top: 0;
}

.sub-main-container {
    gap: 1em;
    padding-bottom: 4em;
    background-color: var(--primary-color);
}

.login-item {
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1em;
}

.login-icon {
    font-size: 1.2em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius) 0 0 var(--border-radius)
}

.login-info {
    display: flex;
    border-radius: var(--border-radius);
    background-color: var(--fourth-color);
    border: solid 0.1em var(--fourth-color)
}

.login-input{
    border-radius:  0   var(--border-radius) var(--border-radius) 0;
}

@media (min-width:401px){
    .sub-main-container {
        flex: 0;
        padding: 5em;
        background-color: var(--secondary-color);
        border: solid .3em var(--fourth-color);
        border-radius: var(--border-radius);
        margin-left: 0;
    }

    .login-info {
        
        border: none;
    }
}
.login-input {
    width: 15em;
    height: 2.5em;
    border: .3em var(--fourth-color) solid .3em var(--fourth-color) solid .3em var(--fourth-color) solid 0; 
    padding-left: .5em;
}

input:focus {
    outline: none;
}

.formulario input,
.select {
  width: 100%;
  border: .1rem solid var(--primary-color);
  margin: 0.5rem 0;
  box-shadow: 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.2); 
  padding: 1rem;
  border-radius: .5rem; 
}

.formulario input:focus,
.formulario select:focus {
  box-shadow: 0.5em 0.5em 0.15em rgba(0, 0, 0, 0.7); 
  border: 0.2em solid var(--fourth-color); 
  outline: none; 
}