<article class="card-item">
  <section class="card-content">
      <header class="card-upper-container">
          <div class="card-upper-subcontainer">
              <span class="card-detalles-highlight">Supermercado Chumbo</span>
              <i class="fa-solid fa-basket-shopping card-detalles-highlight"></i>
          </div>
      </header>
      <div class="card-bottom-container">
          <div class="card-detalles-container">
              <div class="card-detalles-mediumFont">
                  <span class="card-detalles-logo">Dirección</span>
                  <span>Avenida Siempre Viva 5555, Springfield</span>
              </div>
              <div class="card-detalles-mediumFont">
                  <span class="card-detalles-logo">Ubicación geográfica</span>
                  <span>(34,55443; 44,42342)</span>
              </div>
              <div class="card-detalles-mediumFont">
                  <span class="card-detalles-logo">Distancia</span>
                  <span>3 kilómetros</span>
              </div>
          </div>
      </div>
  </section>
  <div class="card-bottom-container">
      <div class="card-detalles-container">
          <div class="card-detalles-mediumFont">
              <span class="card-detalles-logo">Stock de Sobres</span>
              <span>45 unidades</span>
          </div>
          <div class="card-detalles-mediumFont">
              <span>Pedidos Pendientes</span>
          </div>
      </div>
  </div>
  <div class="card-bottom-container">
      <div class="card-detalles-container-center">
          <div class="card-detalles-mediumFont">
              <span class="card-detalles-mediumFont">Precio por sobre $240</span>
          </div>
      </div>
  </div>
</article>