<!-- <div class="toolbox-container"> -->
  <img src="../../assets/alexis.jpg" class="imagen_perfil" />
  <div class="informacion">
    <div>
      <span class="info-datos-personales"> {{datosDePerfil.nombre}} </span>
      <i class="fa-solid fa-pencil"></i>
    </div>

    <div>
      <span class="info-datos-personales"> edad : {{datosDePerfil.edad}} </span>
      
    </div>

    <div>
      <span class="info-datos-personales">Ubicación: {{datosDePerfil.pais}}</span>
      
    </div>
  </div>
<!-- </div> -->