<app-nav></app-nav>
<!-- 
<app-busquedaFiguritas></app-busquedaFiguritas>
<app-busquedaFiguritasPerfil></app-busquedaFiguritasPerfil>
<app-busquedaSobres></app-busquedaSobres>
<app-detallesFigurita></app-detallesFigurita>
<app-perfil-usuario-figuritas-rep></app-perfil-usuario-figuritas-rep> 
<app-perfil-usuario-figuritas-fal></app-perfil-usuario-figuritas-fal> 
<app-perfil-usuario></app-perfil-usuario> 
<app-login></app-login>

-->

<app-busquedaSobres></app-busquedaSobres>




<app-footer></app-footer>