.card-item {
	background-color: var(--primary-color);
	border: var(--fourth-color) solid 0.3em;
	margin-bottom: 1.2em;
	margin-top: 1em;
	min-width: 2em;
	text-align: center;
	box-shadow: 0.4rem 0.8rem 1.6rem rgb(0 0 0 / 80%);
	border-radius: var(--border-radius);
    width: 90%;
}

[class^="card-item"]:hover {
	
    transform: scale(1.1); 
    transition: transform 0.6s ease; 
	box-shadow: 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.5);
}

.card-content {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	align-items: center;
	justify-content: center;
}

.card-nombre {
	font-size: 2rem;
	color: var(--text-color);
}

.card-imagen {
	max-width: 100%;
	max-height: 25em;
	padding: 0.5em;
	border-radius: var(--border-radius);
}

.card-bottom-container {
	padding: 1em;
}

.card-detalles-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 1em;
	padding: 1em;
}

.card-detalles-logo {
	display: flex;
	gap: 0.1em;
	font-weight: bold;
	text-align: center;
}

.card-detalles-center {
	align-self: center;
}

.card-upper-container,
.card-bottom-container {
	width: 100%;
}

.fire {
	color: var(--fire-color);
}

.card-detalles-largeFont,
.card-detalles-mediumFont,
.card-detalles-smallFont {
	display: flex;
	gap: 0.3em;
}

.card-detalles-largeFont {
	font-size: 1.5em;
}

.card-detalles-mediumFont {
	font-size: 1.2em;
}

.card-detalles-smallFont {
	font-size: 1em;
}

.card-detalles-highlight {
	font-size: 1.8em;
}

/* .trash-can{
	 display: none; 
} */

@media (min-width: 401px) {
	.card-upper-container,
	.card-bottom-container {
		display: flex;
		justify-content: center;
	}

	.card-bottom-container {
		flex-direction: column;
	}
}
