<!-- <article class="card-item"> -->
    <section class="card-content">
        <img src="{{card.imagen}}" alt="Enzo Fernandez" class="card-imagen">
        <span class="material-symbols-outlined trash-can">delete_forever</span>
        <div class="card-upper-container">
          <div class="card-upper-subcontainer">
            <span class="card-detalles-largeFont">{{card | nombreApellido}}</span>
            <div class="card-detalles-largeFont">
              <i class="fa-solid fa-id-badge"></i>
              <span>5</span>
            </div>
            <div class="card-detalles-largeFont">
              <i class="fa-solid fa-star"></i>
              <span>{{ card.valoracionTotal}}</span>
            </div>
          </div>
            <div class="card-upper-subcontainer">
                <div class="card-detalles-mediumFont">
                    <div class="card-detalles-logo">
                        <i class="fa-solid fa-weight-scale"></i>
                        <span>Peso</span>
                    </div>
                    <span>{{card.peso}}</span>
                </div>
                <div class="card-detalles-mediumFont">
                    <div class="card-detalles-logo">
                        <i class="fa-solid fa-ruler"></i>
                        <span>Altura</span>
                    </div>
                    <span>{{card.altura}}</span>
                </div>
            </div>
        </div>
        <div class="card-bottom-container">
            <div class="card-detalles-container">

                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Casaca</span>
                    <span>{{card.numeroCamiseta}}</span>
                </div>
                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Nacimiento</span>
                    <span>{{card.fechaNacimiento}}</span>
                </div>
                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Selección</span>
                    <span>{{card.seleccion}} (<i class="fa-solid fa-trophy"></i> 3)</span>
                </div>
                <div class="card-detalles-smallFont">
                    <span class="card-detalles-logo">Posición</span>
                    <span>{{card.posicion}}</span>
                </div>

            </div>
            <div class="card-detalles-mediumFont card-detalles-center">
                <span class="card-detalles-logo">{{card.cotizacionJugador}}</span>
            </div>
            <div class="card-detalles-largeFont card-detalles-center">
                <span class="card-detalles-logo">Cedida por Daniel Gonzalez</span>
            </div>
        </div>
    </section>
<!-- </article> -->
