<main class="main-container">
	<div class="toolbox-container">
		<img src="../../assets/alexis.jpg" class="imagen_perfil" />
		<div class="informacion">
			<div>
				<span class="info-datos-personales"> {{cambioDeUsuario.nombreUsuario}} </span>
				<!-- <a (click)="cambioDeUsuario.hizoClick()"><i class="fa-solid fa-pencil"></i></a> -->
				<a (click)="pepito()"><i class="fa-solid fa-pencil"></i></a>

			</div>
			<div *ngIf="cambioDeUsuario.editando">
				<input type="text" [(ngModel)]="cambioDeUsuario.nuevoNombreUsuario" name="nombreUsuario" (keyup.enter)="cambioDeUsuario.guardar()">
			</div>
			<div>

				<div>
					<span class="info-datos-personales"> edad : {{datosDePerfil.edad}}</span>
				</div>

				<div>
					<span class="info-datos-personales">Ubicación: {{datosDePerfil.pais}}</span>
				</div>
			</div>
		</div>
		<div class="jugadorFav">
			<div>
			  <label class="jugador">Jugador Favorito</label>
			  <form action="Jugador">
				<select class="select" [(ngModel)]="jugadorFav" name="jugadorFav">
				  <option *ngFor="let jugadorFav of jugadores" >{{jugadorFav}}</option>
				</select>
			  </form>
			</div>
		</div>

	</div>
	<section class="sub-main-container">
		<app-tab></app-tab>
		
		<router-outlet></router-outlet>
	</section>
</main>

