@import url(../../../../Maquetado/css/nav.css);
@import url(../../../../Maquetado/css/input.css);
@import url(../../../../Maquetado/css/toolbox.css);
@import url(../../../../Maquetado/css/perfilUsuario.css);


.jugadorFav{
    margin-top: 2em;
    font-weight: bold;
}

.jugador{
    margin-left: 3em;

}
.select{
    border: 0.2em solid gray;
}
