<ul class="tabs-container navbar-list">
  <li class="tab-elegido" routerLink="/Perfil" routerLinkActive="routerLinkActive"><a>Información del Perfil</a></li>
  <li class="tab" routerLink="/Perfil/FiguritaRepetida" routerLinkActive="Active"><a>Figuritas Repetidas</a></li>
  <li class="tab" routerLink='/Perfil/FiguritaFaltante'><a>Figuritas Faltantes</a></li>

  <li>
    <i class="fa-solid fa-circle point-icon"></i>
    <i class="fa-regular fa-circle point-icon"></i>
    <i class="fa-regular fa-circle point-icon"></i>
  </li>
</ul>

