<body>
	<app-nav></app-nav>
	<div class="main-container">
		<div class="toolbox-container">
			<img src="../../assets/alexis.jpg" class="imagen_perfil" />
			<div class="informacion">
				<div>
					<span class="info-datos-personales"> {{datosDePerfil.nombre}} </span>
					<i class="fa-solid fa-pencil"></i>
				</div>

				<div>
					<span class="info-datos-personales"> edad : {{datosDePerfil.edad}} </span>
					
				</div>

				<div>
					<span class="info-datos-personales">Ubicación: {{datosDePerfil.pais}}</span>
					
				</div>
			</div>
		</div>

		<section class="sub-main-container">
			<div class="tabs-container navbar-list">
				<ul class="tabs-container navbar-list">
					<li class= "tab" (click)="informacion()"><a>Información del Perfil</a></li>
				<li class="tab" (click)="repetidas()"><a>Figuritas Repetidas</a></li>
				<li class= "tab-elegido"(click)="faltantes()"><a>Figuritas Faltantes</a></li>
				<li>
						<i class="fa-solid fa-circle point-icon"></i>
						<i class="fa-regular fa-circle point-icon"></i>
						<i class="fa-regular fa-circle point-icon"></i>
					</li>
				</ul>
			</div>
			<div class="card-grid">
				<app-card class="card-item"></app-card>
				<app-card class="card-item"></app-card>
				<app-card class="card-item"></app-card>
			</div>
			<span class="material-symbols-outlined plus-icon">add</span>
		</section>
	</div>

</body>