<div class="formulario">
  <span class="subtitulo">Información General</span>

  <div class="subtitulo-contenedor">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" [(ngModel)]="usuario.name" name="usuario.nombre">
      <label for="Apellido">Apellido</label>
      <input type="text" [(ngModel)]="usuario.apellido" placeholder="Apellido" name="usuario.apellido"/>
    </div>
    <div>
      <label for="Correo Electronico">Correo Electrónico</label>
      <input type="email" [(ngModel)]="usuario.email" placeholder="Correo Electrónico" name="usuario.email"/>
      <!-- <label for="Fecha de nacimiento" [[ngModel)]="usuario.fechaDeNacimiento">Fecha de nacimiento</label> -->
       <label for="Fecha de nacimiento"  name="usuario.fechaNacVisual">Fecha de nacimiento</label>
      <input type="date" placeholder="Fecha de nacimiento" name="usuario.fechaNacInput" #date [ngModel]="usuario.fechaDeNacimiento | date: 'yyyy-MM-dd'" (ngModelChange)="actualizarFecha(date.valueAsDate!)" />
    </div>
  </div>
  <span class="subtitulo">Dirección</span>
  <div class="subtitulo-contenedor">
    <div>
      <!-- Hay que implementar el listado de provincias, ya que no viene con el usuario -->
      <label for="Provincia">Provincia</label>
      <form action="Provincia">

        <select [(ngModel)]="provinciaSelecionada" class="select" name="provinciaSelecionada">
          <option *ngFor="let provincia of provincias"  (click)="setProvincia(provincia)"> {{provincia}} </option>          
        </select>

      </form>
      <label for="Calle">Calle</label>
      <input type="text" [(ngModel)]="usuario.calle" placeholder="Calle" name="usuario.calle"/>
    </div>
    <div>
      <!-- Hay que implementar el listado de localidades, ya que no viene con el usuario -->
      <label for="Localidad">Localidad</label>
      <form action="Localidad">
        <select  [(ngModel)]="localidadSelecionada" class="select" name="localidadSelecionada">
          <option *ngFor="let localidad of getLocalidades()"  onchange=getLocalidades() >{{localidad}}</option>
        </select>
      </form>
      <label for="Altura">Altura</label>
      <input type="number" [(ngModel)]="usuario.altura" placeholder="Altura" name="usuario.altura" />
    </div>
  </div>
  <span class="subtitulo">Ubicación Geográfica</span>
  <div class="subtitulo-contenedor">
    <div>
      <label for="PosiciónX">Posición X</label>
      <input type="number" [(ngModel)]="usuario.posicionX" placeholder="Posición X" name="usuario.posicionX" />
    </div>
    <div>
      <label for="PosiciónY">Posición Y</label>
      <input type="number" [(ngModel)]="usuario.posicionY" placeholder="Posición y" name="usuario.posicionY" />
    </div>
    <div class="distancia">
      <label for="distanciaMaxima">Distancia máxima de Cercanía</label>
      <input type="number" [(ngModel)]="usuario.kmCercania" placeholder="Distancia máxima de Cercanía" name="usuario.distanciaMax"/>
    </div>
  </div>
  <span class="subtitulo">Criterio para el Cambio</span>
  <div class="subtitulo-contenedor">
    <div>
      <label for="Criterio">Criterio</label>
      <form action="Criterios">
        <select class="select" [(ngModel)]="criterioSelecionado"   name="criterioSelecionado">
          <option *ngFor= "let criterio of criterios"  (click)="setCriterio(criterio)"> {{criterio}}</option>
        </select>
      </form>
    </div>
      <div *ngIf="esNacionalista()" >
        
        <label for="Seleccion"> Seleccion</label>
        <form action="Seleccion">
          <select class="select"  [(ngModel)]="seleccionesElegidas"  name="selecionSelecionada">
            <option value="seleccione" *ngFor= "let selecion of selecciones" >{{selecion}}</option>
          </select>
        </form>
    </div>
  </div>
  <div class="button-container">
    <button class="secondary-button">Cancelar</button>
    <button class="primary-button">Guardar</button>
  </div>
</div>