<div class="formulario">
  <span class="subtitulo">Información General</span>

  <div class="subtitulo-contenedor">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" [(ngModel)]="usuarioMock.nombre" name="usuario.nombre">
      <label for="Apellido">Apellido</label>
      <input type="text" [(ngModel)]="usuarioMock.apellido" placeholder="Apellido" name="usuario.apellido"/>
    </div>
    <div>
      <label for="Correo Electronico">Correo Electrónico</label>
      <input type="email" [(ngModel)]="usuarioMock.email" placeholder="Correo Electrónico" name="usuario.email"/>
      <!-- <label for="Fecha de nacimiento" [[ngModel)]="usuarioMock.fechaDeNacimiento">Fecha de nacimiento</label> -->
       <label for="Fecha de nacimiento"  name="usuario.fechaNacVisual">{{usuarioMock.fechaDeNacimiento}} </label>
      <input type="date" [(ngModel)]="usuarioMock.fechaDeNacimiento" placeholder="Fecha de nacimiento" name="usuario.fechaNacInput" value="usuarioMock.fechaDeNacimiento" />
    </div>
  </div>
  <span class="subtitulo">Dirección</span>
  <div class="subtitulo-contenedor">
    <div>
      <!-- Hay que implementar el listado de provincias, ya que no viene con el usuario -->
      <label for="Provincia">Provincia</label>
      <form action="Provincia">

        <select class="select">
          <option value="seleccione">Seleccione una opción</option>
        </select>
      </form>
      <label for="Calle">Calle</label>
      <input type="text" [(ngModel)]="usuarioMock.calle" placeholder="Calle" name="usuario.calle"/>
    </div>
    <div>
      <!-- Hay que implementar el listado de localidades, ya que no viene con el usuario -->
      <label for="Localidad">Localidad</label>
      <form action="Localidad">
        <select class="select">
          <option value="seleccione">Seleccione una opción</option>
        </select>
      </form>
      <label for="Altura">Altura</label>
      <input type="number" [(ngModel)]="usuarioMock.altura" placeholder="Altura" name="usuario.altura" />
    </div>
  </div>
  <span class="subtitulo">Ubicación Geográfica</span>
  <div class="subtitulo-contenedor">
    <div>
      <label for="PosiciónX">Posición X</label>
      <input type="number" [(ngModel)]="usuarioMock.posicionX" placeholder="Posición X" name="usuario.posicionX" />
    </div>
    <div>
      <label for="PosiciónY">Posición Y</label>
      <input type="number" [(ngModel)]="usuarioMock.posicionY" placeholder="Posición y" name="usuario.posicionY" />
    </div>
    <div class="distancia">
      <label for="distanciaMaxima">Distancia máxima de Cercanía</label>
      <input type="number" [(ngModel)]="usuarioMock.distanciaMaximaCercania" placeholder="Distancia máxima de Cercanía" name="usuario.distanciaMax"/>
    </div>
  </div>
  <span class="subtitulo">Criterio para el Cambio</span>
  <div class="subtitulo-contenedor">
    <div>
      <!-- Hay que implementar el listado de criterios, ya que no viene con el usuario -->
      <label for="Criterio">Criterio</label>
      <form action="Criterios">
        <select class="select">
          <option value="nonee">none</option>
        </select>
      </form>
    </div>
  </div>
</div>