<!DOCTYPE html>
<html lang="en">

	<body>
		<main class="main-container">
			<section class="sub-main-container">
				<article class="card-item">
					<header class="card-header-container">
						<div class="card-name-container">
							<span class="card-nombre">Lionel Messi</span>
							<span>(de Carlos Raffo)</span>
						</div>
						<div class="card-logos-container">
							<i class="fa-solid fa-fire fire"></i>
							<i class="fa-solid fa-id-badge"></i>
							<span>5</span>
						</div>
					</header>

					<section class="card-content">
						<div class="card-upper-container">
							<img src="../Maquetado/img/messi.jpg" alt="Lionel Messi" class="card-imagen" />

							<div class="card-detalles-container">
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<i class="fa-solid fa-weight-scale"></i>
										<span>Peso</span>
									</div>
									<span>72 kilos</span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>Nacimiento</span>
									</div>
									<span>24/06/1987 (36 años)</span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>Casaca</span>
									</div>
									<span>10</span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>Selección</span>
									</div>
									<span>Argentina (<i class="fa-solid fa-trophy"></i> 3)</span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>Año debut</span>
									</div>
									<span>2005</span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>CONMEBOL (<i class="fa-solid fa-trophy"></i> 3)</span>
									</div>
									<span></span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>Posición</span>
									</div>
									<span>Delantero</span>
								</div>
								<div class="card-detalles-smallFont">
									<div class="card-detalles-logo">
										<span>Es líder</span>
									</div>
								</div>
								<div class="card-detalles-largeFont card-detalles-center">
									<span class="card-detalles-logo"
										>Cotización USD 80.000.000</span
									>
								</div>
							</div>
						</div>
						<div class="card-bottom-container">
							<div class="card-detalles-container card-valoracion-container">
								<div class="card-detalles-largeFont">
									<span class="card-detalles-logo">Nivel de impresión</span>
									<span>Bajo</span>
								</div>
								<div class="card-detalles-largeFont">
									<span class="card-detalles-logo">Valoración Base</span>
									<span>102</span>
								</div>
								<div class="card-detalles-largeFont">
									<span class="card-detalles-logo">Valoración Total</span>
									<span>124</span>
								</div>
							</div>
						<app-button></app-button>
						</div>
					</section>
				</article>
			</section>
		</main>

	</body>
</html>
